.country-pie-chart {
    width: 48%;
    height: 32vh;
}
.country-pie-chart .label {
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px;
}

.country-pie-chart .chart {
    height: 30vh;
    width: 67%;
}
.country-pie-chart .chart-container {
    display: flex;
    flex-direction: row;
}
.country-pie-chart .chart-container  .country-info {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.8vw;


}
.country-pie-chart .chart-container  .country-info .tag {
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 0.3vw;

}
.country-pie-chart .chart-container  .country-info .tag:hover {
    cursor: text;
}
.country-pie-chart .chart-container  .country-info .recovery-ratio {
    background-color: #81d46ec7;
}
.country-pie-chart .chart-container  .country-info .death-ratio {
    background-color: #ef7368;
}

@media screen and (max-width: 1200px) {
    .country-info {
      display: none;
    }
    .country-pie-chart .chart {
        width: 100%;
    }
}
  