.confirmed-case {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #bbb;
}
.confirmed-case:hover {
    background-color: #eee;
    cursor: pointer;
}
.confirmed-case .amount {
    color: orange;
    margin-left: 5px;
}
.confirmed-case .label {
    margin-left: 5px;

}