a.country-article {
    margin: .8vw;
    padding: .8vw;
    display: flex;
    flex-direction: row;
}
a.country-article:link {
    color: black;
}
.country-article .article-content {
    padding: .6vw;
}
.country-article .article-content h5 {
    font-weight: normal;
}

.country-article .article-img {
    padding: .8vw;
}
.country-article h4 {
    font-size: 0.8vw;
}
.country-article span {
    font-size: 0.7vw;
}

@media screen and (max-width: 1200px) {
    .country-article img {
      display: none;
    }
    .country-article h4 {
        font-size: 1vw;
    }
    .country-article span {
        font-size: 0.9vw;
    }
    
  }
  