.total-confirmed {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.total-confirmed .amount {
    color: orange;
    stroke-width: 2;
    font-size: 60px;
    line-height: normal;
}
.total-confirmed .label {
    color: black;
    stroke-width: 2;
    font-size: 40px;
    line-height: normal;
}