body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2EFE9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* GLOBAL STYLES */
.pile {
  /* margin: 10px; */
  margin: 0.4vw;
}

.block {
  box-shadow: 3px 5px 9px 0px #767676;
  background-color: white;
  border: 1px solid #363636;
}
#root ::-webkit-scrollbar-thumb {
  background: #5C5C5C; 
  border-radius: 10px;
}

#root .column {
  padding: 0px;
}
#root {
  color: #363636;

}

.main-container {
  display: flex;
  flex-direction: row;
  height: 97%;
}
.left-panel {
  width: 16.6%;
}
.main-panel{
  width: 80%;
}
/* .right-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.main-first-row {
  display: flex;
  flex-direction: row;
}
.main-first-row .totals {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.main-chart {
  height: 46vh;
  margin: 5px;
  /* margin-right: 10px; */
}