.confirmed-cases {
    text-align: center;
    /* color:rgb(189, 189, 189); */
    color: black;
    max-height: 80vh;
}

.confirmed-cases .list {
    max-height: calc(95vh - 197px);;
    overflow: auto;
}